root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
max_line_length = 120

[{*.yaml,*.yml}]
indent_size = 2

[package.json]
indent_size = 2

[phpunit.xml]
indent_size = 2

[phpcs.xml]
indent_size = 2
