{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "lib"
        ]
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            ".*log->exception.*",
            "Assert::.*",
            ".*->getLog\\(\\)->.*",
            "\\$this->trace_event.*",
            "\\$tracer->.*_.*\\(.*",
            ".*add_debug_info.*",
            "parent::__construct\\(.*"
        ],
        "MethodCallRemoval": true
    }
}
